.container {  
    padding: 50px;  
  background-color: lightgreen;  
}  
  
input[type=text], textarea {  
  width: 100%;  
  padding: 15px;  
  margin: 5px 0 22px 0;  
  border: none;  
  background: white;  
}

input[type=text]:focus {  
  background-color: lightblue;  
  outline: none;  
}

 div {  
            padding: 10px 0;  
         }
         

.registerbtn {  
  background-color: pink;  
  color: black;  
  padding: 16px 20px;  
  margin: 8px 0;   
  width: 100%;  
}  
